In [3]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
netflix = pd.read_csv('netflix_titles.csv')
netflix

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,"Children & Family Movies, Comedies",Before planning an awesome wedding for his gra...
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Stand-Up Comedy,Jandino Asporaat riffs on the challenges of ra...
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,Kids' TV,"With the help of three human allies, the Autob..."
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,Kids' TV,When a prison ship crash unleashes hundreds of...
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,Comedies,When nerdy high schooler Dani finally attracts...
...,...,...,...,...,...,...,...,...,...,...,...,...
6229,80000063,TV Show,Red vs. Blue,NaN,"Burnie Burns, Jason Saldaña, Gustavo Sorola, G...",United States,NaN,2015,NR,13 Seasons,"TV Action & Adventure, TV Comedies, TV Sci-Fi ...","This parody of first-person shooter games, mil..."
6230,70286564,TV Show,Maron,NaN,"Marc Maron, Judd Hirsch, Josh Brener, Nora Zeh...",United States,NaN,2016,TV-MA,4 Seasons,TV Comedies,"Marc Maron stars as Marc Maron, who interviews..."
6231,80116008,Movie,Little Baby Bum: Nursery Rhyme Friends,NaN,NaN,NaN,NaN,2016,NaN,60 min,Movies,Nursery rhymes and original music for children...
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"Daniel Radcliffe, Jon Hamm, Adam Godley, Chris...",United Kingdom,NaN,2013,TV-MA,2 Seasons,"British TV Shows, TV Comedies, TV Dramas","Set during the Russian Revolution, this comic ..."
6233,70153404,TV Show,Friends,NaN,"Jennifer Aniston, Courteney Cox, Lisa Kudrow, ...",United States,NaN,2003,TV-14,10 Seasons,"Classic & Cult TV, TV Comedies",This hit sitcom follows the merry misadventure...

In [5]:
netflix.type.unique()

array(['Movie', 'TV Show'], dtype=object)

In [6]:
netflix.release_year.unique()

array([2019, 2016, 2013, 2017, 2014, 2015, 2009, 2012, 2010, 2018, 2011,
       2004, 2000, 1983, 1982, 2006, 2005, 2002, 1997, 2008, 2007, 2003,
       1981, 1991, 1994, 1988, 1976, 1973, 1974, 1989, 1986, 1984, 1978,
       1998, 1972, 1979, 1960, 1959, 2001, 1995, 1992, 1990, 1975, 1985,
       1980, 1970, 1996, 1967, 1999, 1987, 1968, 1993, 2020, 1958, 1965,
       1956, 1962, 1955, 1977, 1945, 1946, 1942, 1944, 1947, 1943, 1969,
       1954, 1966, 1971, 1964, 1925, 1963])

In [7]:
netflix.rating.unique()

array(['TV-PG', 'TV-MA', 'TV-Y7-FV', 'TV-Y7', 'TV-14', 'R', 'TV-Y', 'NR',
       'PG-13', 'TV-G', 'PG', 'G', nan, 'UR', 'NC-17'], dtype=object)

In [8]:
netflix.duration.unique()

array(['90 min', '94 min', '1 Season', '99 min', '110 min', '60 min',
       '78 min', '95 min', '58 min', '62 min', '65 min', '61 min',
       '135 min', '98 min', '96 min', '79 min', '113 min', '80 min',
       '77 min', '112 min', '106 min', '102 min', '114 min', '125 min',
       '142 min', '133 min', '100 min', '86 min', '146 min', '10 min',
       '122 min', '126 min', '116 min', '130 min', '70 min', '128 min',
       '88 min', '108 min', '93 min', '64 min', '107 min', '92 min',
       '111 min', '103 min', '40 min', '85 min', '72 min', '45 min',
       '89 min', '24 min', '127 min', '163 min', '117 min', '42 min',
       '104 min', '75 min', '82 min', '38 min', '97 min', '81 min',
       '91 min', '152 min', '87 min', '121 min', '101 min', '119 min',
       '83 min', '182 min', '124 min', '63 min', '139 min', '171 min',
       '84 min', '69 min', '76 min', '41 min', '153 min', '141 min',
       '52 min', '137 min', '132 min', '157 min', '109 min', '105 min',
       '25 min', '71 min', '123 min', '67 min', '140 min', '138 min',
       '149 min', '47 min', '68 min', '148 min', '54 min', '151 min',
       '155 min', '162 min', '28 min', '160 min', '29 min', '57 min',
       '46 min', '73 min', '74 min', '118 min', '66 min', '14 min',
       '20 min', '115 min', '48 min', '168 min', '144 min', '161 min',
       '55 min', '56 min', '51 min', '50 min', '23 min', '205 min',
       '190 min', '131 min', '22 min', '59 min', '150 min', '159 min',
       '145 min', '158 min', '143 min', '154 min', '147 min', '129 min',
       '214 min', '136 min', '134 min', '44 min', '156 min', '30 min',
       '120 min', '209 min', '166 min', '200 min', '185 min', '36 min',
       '11 min', '53 min', '165 min', '164 min', '19 min', '177 min',
       '32 min', '18 min', '170 min', '187 min', '173 min', '12 min',
       '3 min', '176 min', '15 min', '49 min', '26 min', '37 min',
       '189 min', '201 min', '179 min', '191 min', '193 min', '192 min',
       '43 min', '172 min', '224 min', '27 min', '181 min', '178 min',
       '228 min', '34 min', '312 min', '174 min', '169 min', '35 min',
       '31 min', '180 min', '196 min', '167 min', '33 min', '203 min',
       '195 min', '2 Seasons', '5 Seasons', '3 Seasons', '7 Seasons',
       '4 Seasons', '8 Seasons', '6 Seasons', '9 Seasons', '14 Seasons',
       '10 Seasons', '12 Seasons', '15 Seasons', '11 Seasons',
       '13 Seasons'], dtype=object)

In [9]:
netflix[["show_id", "release_year", "type", "rating"]]

       show_id  release_year     type    rating
0     81145628          2019    Movie     TV-PG
1     80117401          2016    Movie     TV-MA
2     70234439          2013  TV Show  TV-Y7-FV
3     80058654          2016  TV Show     TV-Y7
4     80125979          2017    Movie     TV-14
...        ...           ...      ...       ...
6229  80000063          2015  TV Show        NR
6230  70286564          2016  TV Show     TV-MA
6231  80116008          2016    Movie       NaN
6232  70281022          2013  TV Show     TV-MA
6233  70153404          2003  TV Show     TV-14

[6234 rows x 4 columns]